{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block body %}
    {% block nav %}
        <div class="top-wrap uk-position-relative uk-light uk-background-secondary">
            <!-- NAV -->
            <div class="nav" data-uk-sticky="cls-active: uk-background-secondary uk-box-shadow-medium; top: 100vh; animation: uk-animation-slide-top">
                <div class="uk-container">
                    <nav class="uk-navbar uk-navbar-container uk-navbar-transparent" data-uk-navbar>
                        <div class="uk-navbar-left">
                            <div class="uk-navbar-item uk-padding-remove-horizontal uk-animation-toggle">
                                <img class="uk-logo" title="Apollon" src="{% static 'img/apollon-logo-v1.svg' %}"
                                     height="100" uk-svg="stroke-animation: true">
                            </div>
                        </div>
                        <div class="uk-navbar-right">
                            <ul class="uk-navbar-nav uk-visible@s">
                                <li>
                                    <a href="{% url 'app_home' %}" uk-icon="icon : home; ratio : 1.5"></a>
                                </li>
                                <li>
                                    <a href="#" uk-icon="icon : play-circle; ratio : 1.5"></a>
                                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                        <ul class="uk-nav uk-navbar-dropdown-nav uk-text-lead">
                                            <li>
                                                <a href="{% url 'app_new_playlist' %}">
                                                    <span class="uk-margin-right" uk-icon="plus"></span>{% trans 'New playlist' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'app_user_playlists' %}">
                                                    <span class="uk-margin-right" uk-icon="table"></span>&nbsp;{% trans 'My playlists' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'app_search_songs' %}">
                                                    <span class="uk-margin-right" uk-icon="search"></span>&nbsp;{% trans 'Search songs' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'app_search_playlists' %}">
                                                    <span class="uk-margin-right" uk-icon="more"></span>&nbsp;{% trans 'Search playlists' %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a uk-icon="icon : sign-out; ratio : 1.5" href="{% url 'app_logout' %}"></a>
                                </li>
                                <li>
                                    <a uk-icon="icon : cog; ratio : 1.5" href="{% url 'app_logout' %}"></a>
                                </li>
                                <li>
                                    <a href="#" uk-icon="icon : location; ratio : 1.5"></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="{% url 'app_change_language' lang_code='fr' %}"><img width="20" src="{% static 'img/countries/france.svg' %}" uk-svg>&nbsp;{% trans 'French' %}</a></li>
                                            <li><a href="{% url 'app_change_language' lang_code='en' %}"><img width="20" src="{% static 'img/countries/united-states.svg' %}" uk-svg>&nbsp;{% trans 'English' %}</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <a class="uk-navbar-toggle uk-navbar-item uk-hidden@s" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /NAV -->
        </div>
    {% endblock %}

    {% block content %}
        <div class="uk-position-relative uk-light uk-background-secondary">
            <div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height uk-child-width-1-2@m">
                <!-- TOP CONTAINER -->
                <div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
                    <div data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
                        <h6 class="uk-text-primary uk-margin-small-bottom uk-text-capitalize">{% trans 'Welcome' %}</h6>
                        <h1 class="uk-margin-remove-top">{% trans 'A better way to listen to your music' %}</h1>
                        <p class="subtitle-text uk-visible@s">{% trans 'An alternative content' %}</p>
                        <a href="{% url 'app_login' %}" title="{% trans 'Sign in' %}" class="uk-button uk-button-primary uk-border-pill uk-text-capitalize uk-margin-right" data-uk-scrollspy-class="uk-animation-fade">{% trans 'Sign in' %}</a>
                        <a href="{% url 'app_register' %}" title="{% trans 'Sign up' %}" class="uk-button uk-button-primary uk-border-pill uk-text-capitalize" data-uk-scrollspy-class="uk-animation-fade">{% trans 'Sign up' %}</a>
                    </div>
                </div>
                <div class="uk-visible@s uk-container uk-position-relative uk-margin-medium-top top-container" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
                    <img uk-img src="{% static 'img/illustrations/undraw_contemplating_8t0x.svg' %}">
                </div>
                <!-- /TOP CONTAINER -->
            </div>
        </div>
    {% endblock %}
{% endblock %}>