{% extends 'layouts/home.html' %}
{% load static i18n custom_tags%}
{% block content %}
    <section class="uk-section uk-container">
        <div uk-grid class="uk-grid-collapse">
            <!-- SONG HEADING -->
            <div class="uk-width-1-1 uk-margin-bottom">
                <h1>
                    <img class="uk-border-circle" onerror="this.onerror=null;this.src='/static/img/album-img-not-found.png';" src="{{ song|get_item:'primary_artist'|get_item:'image_url' }}" width="100" alt="">
                    {{ object.title }}
                    {% trans 'by' %}&nbsp;
                    <a href="{{ song|get_item:'primary_artist'|get_item:'url' }}">
                        <u><span class="uk-text-primary">{{ song|get_item:'primary_artist'|get_item:'name' }}</span></u>
                    </a>
                    <span class="uk-animation-toggle" tabindex="0">
                        <span data-genius_id="{{ song|get_item:'id' }}"
                              class="play-song uk-text-primary uk-animation-fade"
                              uk-icon="icon : play-circle; ratio : 3"></span>
                    </span>
                    <span class="uk-animation-toggle" tabindex="0">
                        <span data-genius_id="{{ song|get_item:'id' }}" class="add-to-playlist uk-text-primary uk-animation-fade"
                              href="#playlist-choice-modal" uk-toggle
                              uk-icon="icon:plus-circle;ratio:3"></span>
                    </span>
                </h1>
            </div>
            <div class="uk-width-1-2@s">
                <!-- SONG DESCRIPTION -->
                <h3>{% trans 'Description' %}</h3>
                <p class="uk-padding-small">
                    {{ song|get_item:'description'|get_item:'plain' }}
                </p>
                <p class="uk-padding-small uk-text-center">{% trans 'Song released on ' %} <span class="uk-text-primary">{{ song.release_date}}</span></p>

                <!-- GENIUS PLAYER -->
                {% autoescape off %}
                    {{ song|get_item:'embed_content' }}
                {% endautoescape %}
            </div>
            <div class="uk-width-1-2@s uk-flex uk-flex-center">
                <div class="uk-grid-collapse uk-animation-toggle">
                    {%  if song|get_item:'album' and song|get_item:'album'|get_item:'cover_art_url' %}
                        <h3>Album</h3>
                        <div class="uk-width-1-1">
                            <!-- ALBUM -->
                            <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                                 data-src="{{ song|get_item:'album'|get_item:'cover_art_url' }}"
                                 uk-img onerror="this.onerror=null;this.src='/static/img/album-img-not-found.png';">
                                <h1><a href="{{ song|get_item:'album'|get_item:'url' }}">{{ song|get_item:'album'|get_item:'name' }}</a></h1>
                            </div>
                        </div>
                    {% endif %}

                    <!-- YOUTUBE PLAYER -->
                    {% if youtube_id %}
                        <div class="uk-width-1-1 uk-flex uk-align-center uk-flex-center uk-padding">
                            <iframe class="uk-border-rounded" uk-responsive width="1920" height="1080"
                                    src="https://www.youtube-nocookie.com/embed/{{youtube_id}}"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% endif %}

                    <!-- MEDIAS SLIDER -->
                    <div class="uk-width-1-1">
                        <h3>{% trans 'Medias' %}</h3>
                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                            <ul class="uk-slider-items uk-grid">
                                <li class="uk-width-1-2">
                                    <div class="uk-panel">
                                        <img class="uk-border-rounded" src="{{ song|get_item:'song_art_image_url' }}">
                                    </div>
                                </li>
                                <li class="uk-width-1-2">
                                    <div class="uk-panel">
                                        <img class="uk-border-rounded" src="{{ song|get_item:'header_image_url' }}">
                                    </div>
                                </li>
                            </ul>

                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}