{% extends 'layouts/home.html' %}
{% load static i18n custom_tags %}
{% block content %}
    <div uk-grid class="uk-grid-collapse">
        <div class="uk-child-width-1-1 uk-width-1-1 uk-flex-middle uk-flex-center uk-grid-collapse uk-margin-large-top" uk-grid>
            <!-- Search -->
            <div class="uk-align-center uk-flex-middle uk-flex-center">
                <div class="uk-container">
                    <form method="get" class="uk-align-center uk-flex-middle uk-flex-center">
                        <input name="search" class="uk-width-1-1 uk-form-width-large uk-input uk-form-large uk-text-center" type="search" value="{{ request.GET.search }}"
                               placeholder="{% trans 'Search songs' %}" autofocus="">
                    </form>
                </div>
            </div>
            <!-- Results -->
            <div class="uk-margin uk-margin-large-bottom">
                <div class="uk-container">
                    <h1 class="uk-text-center uk-text-primary">{% trans 'Results' %}</h1>

                    {% if not request.GET.search %}
                        <p class="uk-text-center uk-text-meta">{% trans 'Enter an artist, a song, or lyrics in order to start searching.' %}</p>
                    {% endif %}

                    <ul class="uk-list uk-list-divider">
                        {% for hit in api_response %}
                            {{ hit|get_item:'result'|return_song_search_result_template }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for playlists -->
    <div id="playlist-choice-modal" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-1 uk-flex-middle" uk-grid uk-height-viewport>
                <div class="uk-padding-large">
                    <h1>{% trans 'Add this song to your playlist' %}</h1>
                    <p>
                        {% trans 'Add this song to playlist content' %}
                    </p>
                    <ul class="uk-list uk-list-divider">
                        {% for playlist in user_playlists %}
                            <li>
                                <div uk-grid class="uk-grid-collapse">
                                    <div class="uk-width-1-5@s uk-text-center">
                                        <button data-playlist_id="{{ playlist.id }}" type="button" class="choose-playlist uk-icon-button uk-modal-close" uk-icon="icon:plus;ration:3"></button>
                                    </div>

                                    <div class="uk-text-center uk-width-expand">
                                        <span class="uk-h2 uk-text-primary uk-margin-remove">{{ playlist.title }} </span>
                                    </div>

                                    <div class="uk-width-1-5@s uk-text-center">
                                        <span class="uk-badge">{{ playlist.followers.count }} Followers</span>
                                        <a href="{% url 'app_playlist_detail' username=request.user.username pk=playlist.id %}"
                                           target="_blank"
                                           type="button" class="uk-icon-button" uk-icon="icon:album;ration:3"></a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="hidden-player" class="uk-flex-bottom" uk-modal>
        <div class="uk-modal-dialog uk-border-rounded">
            <div class="uk-height-1-1 uk-width-1-1">

            </div>
        </div>a
    </div>
{% endblock %}

{% block add_scripts %}
    <script>
        let CURRENT_SONG_CHOICE = null;
        $(document).ready(function () {
            // Click on a search result button. It opens the playlist selection modal.
            $('.add-to-playlist').click(function () {
                let self = $(this); //closure
                CURRENT_SONG_CHOICE = self.data('genius_id');
            });

            // When the user chooses the playlist he wants to add the 'CURRENT_SONG_CHOICE' song to
            $('.choose-playlist').click(function () {
                let spinner = UIkit.modal.dialog('<div class="uk-text-center"><span uk-spinner="ratio: 4.5"></span></div>');
                let self = $(this);
                $.ajax({
                    url: '{% url 'app_add_song_to_playlist' %}',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        genius_id : CURRENT_SONG_CHOICE,
                        playlist_id : self.data('playlist_id')
                    },
                    success : function (result) {
                        spinner.toggle();
                        UIkit.notification({
                            message: '{% trans 'This song was succesfully added to the playlist' %}',
                            status: 'primary',
                            timeout: 3000,
                        });
                    },
                    error : function (result) {
                        spinner.toggle();
                        UIkit.notification({
                            message: '{% trans 'A critical error happened on the server. Please contact the support.' %}',
                            status: 'danger',
                            timeout: 3000,
                        });
                    }
                });
            });

        });
    </script>
{% endblock %}
