{% extends 'layouts/home.html' %}
{% load static i18n custom_tags %}
{% block content %}
    <div uk-grid class="uk-grid-collapse">
        <div class="uk-child-width-1-1 uk-width-1-1 uk-flex-middle uk-flex-center uk-grid-collapse uk-margin-large-top" uk-grid>
            <!-- Search -->
            <div class="uk-align-center uk-flex-middle uk-flex-center">
                <div class="uk-padding-small">
                    <form method="get" class="uk-align-center uk-flex-middle uk-flex-center">
                        <input name="search" class="uk-width-1-1 uk-form-width-large uk-input uk-form-large uk-text-center" type="search" value="{{ request.GET.search }}"
                               placeholder="{% trans 'Search playlists' %}" autofocus="">
                    </form>
                </div>
            </div>
            <!-- Results -->
            <div class="uk-margin uk-margin-large-bottom">
                <div class="uk-padding-small">
                    <h1 class="uk-text-center uk-text-primary">{% trans 'Results' %}</h1>

                    {% if not request.GET.search %}
                        <p class="uk-text-center uk-text-meta">{% trans 'Enter a playlist name, a keyword, in order to start searching.' %}</p>
                    {% endif %}
                    {% if not object_list and request.GET.search %}
                        <p class="uk-text-center uk-text-meta">{% trans 'It seems like no playlists were found with the search : ' %}
                            <span class="uk-text-primary uk-text-bold">{{ request.GET.search }}</span>
                        </p>

                        {% if request.GET.search and suggestions %}
                            <div class="uk-margin-large-top">
                                <h2 class="uk-text-center uk-text-lead">{% trans 'Maybe you meant' %}</h2>
                                <div class="uk-flex uk-flex-center">
                                    {% for suggestedPlaylist in suggestions %}
                                        <a href="{% url 'app_playlist_detail' username=request.user.username pk=suggestedPlaylist.id %}"
                                           type="submit" class="uk-margin-left uk-margin-right uk-button uk-button-primary">
                                            {{ suggestedPlaylist }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}

                    <ul uk-accordion>
                        {% for playlist in object_list %}
                            {{ playlist|return_playlist_search_result_template:request.user }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}