{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block body %}
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
        <div class="uk-padding-large">
            <h1>Oops</h1>
            <p class="uk-text-light">
                {% trans 'You forgot your password content' %}
            </p>
            <form id="{{ form.auto_id }}" action="" method="post">
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ next }}">

                <div class="uk-inline uk-width-1-1 uk-margin-bottom">
                    <a class="uk-form-icon" uk-icon="icon: mail"></a>
                    {{ form.email }}
                </div>

                <div class="uk-margin-top uk-text-center">
                    <button type="submit" class="uk-margin-bottom uk-button uk-button-large uk-button-primary uk-button-default">{% trans "Reset my password" %}</button>
                </div>
            </form>
        </div>
        <div class="uk-background-cover uk-visible@s" style="background-image: url('{% static 'img/illustrations/undraw_forgot_password_gi2d.svg' %}');" uk-height-viewport></div>
    </div>
{% endblock %}