{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block body %}

    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
        <div class="uk-background-cover uk-visible@s" style="background-image: url('{% static 'img/illustrations/undraw_forgot_password_gi2d.svg' %}');" uk-height-viewport></div>

        <div class="uk-padding-large">
            {% if form %}
                <h1>{% trans 'We got you' %}</h1>
                <p class="uk-text-light">
                    {% trans 'Reset now your password content' %}
                </p>
                <form id="{{ form.auto_id }}" action="" method="post" >

                    {% csrf_token %}

                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="uk-inline uk-width-1-1 uk-margin-bottom">
                        <a class="uk-form-icon" uk-icon="icon: lock"></a>
                        {{ form.new_password1 }}
                    </div>
                    <div class="uk-inline uk-width-1-1 uk-margin-bottom">
                        <a class="uk-form-icon" uk-icon="icon: lock"></a>
                        {{ form.new_password2 }}
                    </div>

                    <div class="uk-margin-top uk-text-center">
                        <button type="submit" class="uk-margin-bottom uk-button uk-button-large uk-button-primary uk-button-default">{% trans "Reset my password" %}</button>
                    </div>
                </form>
            {% else %}
                <h1>{% trans 'What are you doing here ? This link is outdated.' %}</h1>
                <div class="uk-margin-top uk-text-center">
                        <a href="{% url 'app_home' %}" class="uk-margin-bottom uk-button uk-button-large uk-button-default">{% trans "Home" %}</a>
                    </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        UIkit.notification('{{ field.label }} : {{ error }}', 'danger');
                    {% endfor %}
                {% endfor %}
            {% endif %}
        })
    </script>
{% endblock %}